<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'Hello, ' + ${name} + '!'"></title>
<link href="/css/main.css" rel="stylesheet">
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
	type="text/javascript"></script>
</head>
<body>
	<h2 class="hello-title" th:text="'CarList'"></h2>
	<script src="/js/main.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<div class="containers">
		<div class="row">
			<div class="col-2">
				<form action="#" th:action="@{/pags/loadDataBase}" th:method="get">
					<input type="hidden" name="_method" value="get" />
					<button type="submit" id="submitButton">LoadDataBatch</button>
				</form>
			</div>
			<div class="col-10">
				<figure class="highlight">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="text-align: left" scope="col">Id</th>
								<th style="text-align: left">Model</th>
								<th style="text-align: left">Engine Type</th>
								<th style="text-align: left">FuelType</th>
								<th style="text-align: left">Year</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${cars.empty}">
								<td colspan="2">No Cars Available</td>
							</tr>
							<tr th:each="car : ${cars}">
								<td><span th:text="${car.id}"> Id </span></td>
								<td><span th:text="${car.model}"> Model </span></td>
								<td><span th:text="${car.engineType.name}">
										EngineType </span></td>
								<td><span th:text="${car.fuelType.name}"> FuelType </span></td>
								<td><span th:text="${car.year}"> Year </span></td>
							</tr>
						</tbody>
					</table>
				</figure>
			</div>
		</div>
	</div>

	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Batch Status</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"><span th:text="${status}"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			let status = /*[[${status}]]*/{};
			if (status) {
				$('#messageModal').modal('show');
			}
		</script>
</body>
</html>